td {
    text-align: center;
}

table {
    background: rgb(196, 191, 35);
    background: linear-gradient(90deg, rgba(210, 30, 157, 1) 0%, rgba(32, 212, 214, 1) 50%, rgba(196, 191, 35, 1) 100%);
    border-radius: 50px;
    color: black;
    border-color: white;
}


.demongiriş{
    display: block;
    margin: 100px; 
    margin-top: 20px;
    max-width: 500px;  
    max-height: 500px; 
    border-radius: 80px;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(196,191,35);
background: linear-gradient(90deg, rgba(196,191,35,1) 0%, rgba(32,212,214,1) 50%, rgba(210,30,157,1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    padding: 10px;
    color: white;
}

#logo-text {
    font-weight: bold;
    font-size: 24px;
    
}

.lightbulb {
    margin-top: 50px;
    max-width: 80px;
    margin-left: 60px;
}

.right-section {
    display: flex;
    align-items: center;
}



.button:hover {
    background-color: #1865b3;
    border-radius: 80px;
}

.content-section {
    display: flex;
    gap: 20px;
    background-color: purple;
    padding: 20px;
    margin-top: 20px;
    
}


.content-item a {
    color: gold;
    text-decoration: none;
}

.content-item a:hover {
    text-decoration: underline;
}
.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    border-radius: 80px;
}

footer {
    background: linear-gradient(90deg, rgba(210, 30, 157, 1) 0%, rgba(32, 212, 214, 1) 50%, rgba(196, 191, 35, 1) 100%);
    color: #df6767;
    padding: 20px;
    text-align: center;
    
    position: relative;
    margin-top: auto;  
    width: 100%;
}



a {
    color: #df6767;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    background: gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 400px;
}

img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

